
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Mvc Kamp tablo</h3>
<br />
<table>
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama</td>
        <td>Durumu</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açık</td>
        <td>True</td>
    </tr>
</table>